/syn_prob/venv
/syn_prob/note.txt
/venv
/syn_prob/__pychace__
syn_prob/__pycache__/bilinearLayerTraining.cpython-311.pyc
syn_prob/test.py
syn_prob/__pycache__/bilinear.cpython-311.pyc
syn_prob/__pycache__/solver.cpython-311.pyc
*.pyc
syn_prob/oldVersionFunc.py
